<div class="burger-menu is-hidden" data-menu>
  <div class="container burger-menu-container">
    <a class="burger-menu-logo link" href="./index.html">
      <img
        src="/img/logotype-img.png"
        alt="logotype of the watch spot site"
        width="14"
        height="14"
        class="burger-menu-logo"
      />
      <span class="burger-menu-logo-text">thewatchspot</span>
    </a>
    <button type="button" class="burger-menu-close-button" data-menu-close>
      <svg class="burger-menu-close-btn-icon" width="24" height="24">
        <use href="/img/icon.svg#burger-menu-close-btn-icon"></use>
      </svg>
    </button>
    <ul class="burger-menu-list list">
      <li class="burger-menu-item">
        <a class="burger-menu-link link" href="./index.html#about-us"
          >About us</a
        >
      </li>
      <li class="burger-menu-item">
        <a class="burger-menu-link link" href="./index.html#catalog">Catalog</a>
      </li>
      <li class="burger-menu-item">
        <a class="burger-menu-link link" href="./index.html#sale">Sale</a>
      </li>
    </ul>
  </div>
</div>
