<section class="catalog" id="catalog">
  <div class="catalog-container container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list list">
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-1.jpg    1x,
                    ./img/catalog-watch-1-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-1.jpg    1x,
                    ./img/catalog-watch-1-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-1.jpg    1x,
                    ./img/catalog-watch-1-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-1.jpg"
                  alt="watch is brown and black"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <span class="catalog-title-two-text">€395</span>
        </div>
      </li>
      <!-- 2 -->
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-2.jpg    1x,
                    ./img/catalog-watch-2-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-2.jpg    1x,
                    ./img/catalog-watch-2-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-2.jpg    1x,
                    ./img/catalog-watch-2-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-2.jpg"
                  alt="watch is grey"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">Avondale Watch Police For Men</p>
          <span class="catalog-title-two-text">€800</span>
        </div>
      </li>
      <!-- 3 -->
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-3.jpg    1x,
                    ./img/catalog-watch-3-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-3.jpg    1x,
                    ./img/catalog-watch-3-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-3.jpg    1x,
                    ./img/catalog-watch-3-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-3.jpg"
                  alt="watch is grey and gold"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-title-two-text">€600</span>
        </div>
      </li>
      <!-- 4 -->
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-4.jpg    1x,
                    ./img/catalog-watch-4-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-4.jpg    1x,
                    ./img/catalog-watch-4-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-4.jpg    1x,
                    ./img/catalog-watch-4-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-4.jpg"
                  alt="watch is grey and green"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-title-two-text">€1400</span>
        </div>
      </li>
      <!-- 5 -->
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-5.jpg    1x,
                    ./img/catalog-watch-5-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-5.jpg    1x,
                    ./img/catalog-watch-5-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-5.jpg    1x,
                    ./img/catalog-watch-5-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-5.jpg"
                  alt="watch is black and grey"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">Taman Watch By Police For Men</p>
          <span class="catalog-title-two-text">€500</span>
        </div>
      </li>
      <!-- 6 -->
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-6.jpg    1x,
                    ./img/catalog-watch-6-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-6.jpg    1x,
                    ./img/catalog-watch-6-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-6.jpg    1x,
                    ./img/catalog-watch-6-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-6.jpg"
                  alt="watch is grey and blue"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">Malawi Watch Police For Men</p>
          <span class="catalog-title-two-text">€555</span>
        </div>
      </li>
      <!-- 7 -->
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-7.jpg    1x,
                    ./img/catalog-watch-7-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-7.jpg    1x,
                    ./img/catalog-watch-7-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-7.jpg    1x,
                    ./img/catalog-watch-7-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-7.jpg"
                  alt="watch is grey and white numbers"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">
            Diver 300M Co-Axial Master Chronometer
          </p>
          <span class="catalog-title-two-text">€1200</span>
        </div>
      </li>
      <!-- 8 -->
      <li class="catalog-item">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-8.jpg    1x,
                    ./img/catalog-watch-8-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-8.jpg    1x,
                    ./img/catalog-watch-8-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-8.jpg    1x,
                    ./img/catalog-watch-8-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-8.jpg"
                  alt="watch is dark"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">Greenlane Watch By Police For Men</p>
          <span class="catalog-title-two-text">€1000</span>
        </div>
      </li>
      <!-- 9 -->
      <li class="catalog-item catalog-dekstop">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-9.jpg    1x,
                    ./img/catalog-watch-9-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-9.jpg    1x,
                    ./img/catalog-watch-9-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-9.jpg    1x,
                    ./img/catalog-watch-9-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-9.jpg"
                  alt="watch is grey and black dial"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">Squardrc 5402 Chrono</p>
          <span class="catalog-title-two-text">€359</span>
        </div>
      </li>
      <!-- 10 -->
      <li class="catalog-item catalog-dekstop">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-10.jpg    1x,
                    ./img/catalog-watch-10-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-10.jpg    1x,
                    ./img/catalog-watch-10-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-10.jpg    1x,
                    ./img/catalog-watch-10-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-10.jpg"
                  alt="watch is grey, gold and white numbers"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </p>
          <span class="catalog-title-two-text">€400</span>
        </div>
      </li>
      <!-- 11 -->
      <li class="catalog-item catalog-dekstop">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-11.jpg    1x,
                    ./img/catalog-watch-11-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-11.jpg    1x,
                    ./img/catalog-watch-11-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-11.jpg    1x,
                    ./img/catalog-watch-11-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-11.jpg"
                  alt="watch is grey, blue and white numbers"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">Citizen</p>
          <span class="catalog-title-two-text">€519</span>
        </div>
      </li>
      <!-- 12 -->
      <li class="catalog-item catalog-dekstop">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <picture>
                <source
                  srcset="
                    ./img/catalog-watch-12.jpg    1x,
                    ./img/catalog-watch-12-2x.jpg 2x
                  "
                  media="(min-width: 1158px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-12.jpg    1x,
                    ./img/catalog-watch-12-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/catalog-watch-12.jpg    1x,
                    ./img/catalog-watch-12-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  class="catalog-img"
                  src="./img/catalog-watch-12.jpg"
                  alt="watch black and white numbers"
                  width="275"
                  height="274"
                />
              </picture>
            </div>
            <div class="flip-card-back">
              <h3 class="catalog-cover-text-title">Description</h3>
              <ul>
                <li class="catalog-cover-text-wrap">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </li>
              </ul>
              <h3 class="catalog-cover-text-title">DETAILS & FEATURESTION</h3>
              <ul>
                <li class="catalog-cover-text-wrap-second">Gender: man</li>
                <li class="catalog-cover-text-wrap-second">Size: 46x54.5mm</li>
                <li class="catalog-cover-text-wrap-second">
                  Case Colour: Steel
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Case Material: Metal
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Features: Multifunction
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Water Resistant: 5 (ATM)
                </li>
                <li class="catalog-cover-text-wrap-second">
                  Band Colour: Steel
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog-wrap">
          <p class="catalog-title-two">Armani Exchange</p>
          <span class="catalog-title-two-text">€400</span>
        </div>
      </li>
    </ul>
    <button type="button" class="catalog-modal-btn" data-modal-open>
      BUY NOW
    </button>
  </div>
</section>
