<section class="hero section">
  <div class="container hero-wrap">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="swiper-wrap">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/slider-watch-1.jpg    1x,
                  ./img/slider-watch-1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/slider-watch-1.jpg    1x,
                  ./img/slider-watch-1-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/slider-watch-mob-1.jpg    1x,
                  ./img/slider-watch-mob-1-2x.jpg 2x
                "
                media="(max-width: 375px)"
              />
              <img src="./img/slider-watch-mob-1.jpg" alt="Watch 1" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/slider-watch-2.jpg    1x,
                  ./img/slider-watch-2-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/slider-watch-2.jpg    1x,
                  ./img/slider-watch-2-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/slider-watch-mob-2.jpg    1x,
                  ./img/slider-watch-mob-2-2x.jpg 2x
                "
                media="(max-width: 375px)"
              />
              <img src="./img/slider-watch-mob-2.jpg" alt="Watch 2" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/slider-watch-3.jpg    1x,
                  ./img/slider-watch-3-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/slider-watch-3.jpg    1x,
                  ./img/slider-watch-3-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/slider-watch-mob-3.jpg    1x,
                  ./img/slider-watch-mob-3-2x.jpg 2x
                "
                media="(max-width: 375px)"
              />
              <img src="./img/slider-watch-mob-3.jpg" alt="Watch 3" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/slider-watch-4.jpg    1x,
                  ./img/slider-watch-4-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/slider-watch-4.jpg    1x,
                  ./img/slider-watch-4-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/slider-watch-mob-4.jpg    1x,
                  ./img/slider-watch-mob-4-2x.jpg 2x
                "
                media="(max-width: 375px)"
              />
              <img src="./img/slider-watch-mob-4.jpg" alt="Watch 4" />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./img/slider-watch-5.jpg    1x,
                  ./img/slider-watch-5-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/slider-watch-5.jpg    1x,
                  ./img/slider-watch-5-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/slider-watch-mob-5.jpg    1x,
                  ./img/slider-watch-mob-5-2x.jpg 2x
                "
                media="(max-width: 375px)"
              />
              <img src="./img/slider-watch-mob-5.jpg" alt="Watch 5" />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-buttons">
        <div class="swiper1-button-prev">
          <svg class="swiper-button-icon" width="24" height="24">
            <use href="/img/icon.svg#icon-chevron-left-big"></use>
          </svg>
        </div>
        <div class="swiper1-button-next">
          <svg class="swiper-button-icon" width="24" height="24">
            <use href="/img/icon.svg#icon-chevron-right-big"></use>
          </svg>
        </div>
        <div class="carousel-number-of-watches">
          01
          <div class="dash"></div>
          05
        </div>
      </div>
    </div>
    <p class="hero-description">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
      <!-- Slider main container -->
    </p>
    <!-- <img class="hero-img" src="./img/hero-watch.jpg" alt="Watch" /> -->

    <picture class="hero-img">
      <source
        srcset="./img/hero-watch.jpg 1x, ./img/hero-watch-2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/hero-watch-tab.jpg 1x, ./img/hero-watch-tab-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/hero-watch-mob.jpg 1x, ./img/hero-watch-mob-2x.jpg 2x"
        media="(max-width: 375px)"
      />
      <img class="hero-img1" src="./img/hero-watch-mob.jpg" alt="Watch" />
    </picture>
  </div>
</section>
