<section class="hero">
    <div class="container">
          <h1 class="hero-title">Welcome to our collection of premium watches</h1>
          <p class="hero-description">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to modern ones, we have a watch to suit every taste and occasion.
            <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="./img/slider-watch-1.jpg" alt="Watch 1" width="436" height="255" />
    </div>
    <div class="swiper-slide">
      <img src="./img/slider-watch-2.jpg" alt="Watch 2" width="436" height="255" />
    </div>
    <div class="swiper-slide">
      <img src="./img/slider-watch-3.jpg" alt="Watch 3" width="436" height="255" />
    </div>
    <div class="swiper-slide">
      <img src="./img/slider-watch-4.jpg" alt="Watch 4" width="436" height="255" />
    </div>
    <div class="swiper-slide">
      <img src="./img/slider-watch-5.jpg" alt="Watch 5" width="436" height="255" />
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

            <img src="./img/hero-watch.jpg" alt="Watch" class="hero-img">
        </div>
      </section>
</section>
