<section class="hero section-hero">
  <div class="container hero-wrap">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div class="swiper-wrap">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/slider/slider-watch-1.webp    1x,
                  /img/hero/slider/slider-watch-1-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-1.jpg    1x,
                  /img/hero/slider/slider-watch-1-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-1.webp    1x,
                  /img/hero/slider/slider-watch-mob-1-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-1.jpg    1x,
                  /img/hero/slider/slider-watch-mob-1-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/hero/slider/slider-watch-mob-1.jpg"
                alt="Watch 1"
                width="436"
                height="255"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/slider/slider-watch-2.webp    1x,
                  /img/hero/slider/slider-watch-2-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-2.jpg    1x,
                  /img/hero/slider/slider-watch-2-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-2.webp    1x,
                  /img/hero/slider/slider-watch-mob-2-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-2.jpg    1x,
                  /img/hero/slider/slider-watch-mob-2-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/hero/slider/slider-watch-mob-2.jpg"
                alt="Watch 2"
                width="436"
                height="255"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/slider/slider-watch-3.webp    1x,
                  /img/hero/slider/slider-watch-3-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-3.jpg    1x,
                  /img/hero/slider/slider-watch-3-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-3.webp    1x,
                  /img/hero/slider/slider-watch-mob-3-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-3.jpg    1x,
                  /img/hero/slider/slider-watch-mob-3-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/hero/slider/slider-watch-mob-3.jpg"
                alt="Watch 3"
                width="436"
                height="255"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/slider/slider-watch-4.webp    1x,
                  /img/hero/slider/slider-watch-4-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-4.jpg    1x,
                  /img/hero/slider/slider-watch-4-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-4.webp    1x,
                  /img/hero/slider/slider-watch-mob-4-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-4.jpg    1x,
                  /img/hero/slider/slider-watch-mob-4-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/hero/slider/slider-watch-mob-4.jpg"
                alt="Watch 4"
                width="436"
                height="255"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /img/hero/slider/slider-watch-5.webp    1x,
                  /img/hero/slider/slider-watch-5-2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-5.jpg    1x,
                  /img/hero/slider/slider-watch-5-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-5.webp    1x,
                  /img/hero/slider/slider-watch-mob-5-2x.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/hero/slider/slider-watch-mob-5.jpg    1x,
                  /img/hero/slider/slider-watch-mob-5-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="/img/hero/slider/slider-watch-mob-5.jpg"
                alt="Watch 5"
                width="436"
                height="255"
              />
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-buttons">
        <div class="swiper1-button-prev">
          <svg class="swiper-button-icon">
            <use href="/img/icon.svg#icon-chevron-left-big"></use>
          </svg>
        </div>
        <div class="swiper1-button-next">
          <svg class="swiper-button-icon">
            <use href="/img/icon.svg#icon-chevron-right-big"></use>
          </svg>
        </div>
        <div class="carousel-number-of-watches">
          01
          <div class="dash"></div>
          05
        </div>
      </div>
    </div>
    <p class="hero-description">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
      <!-- Slider main container -->
    </p>
    <!-- <img class="hero-img" src="./img/hero-watch.jpg" alt="Watch" /> -->

    <picture class="hero-img">
      <source
        srcset="
          /img/hero/hero-watch-desk.webp    1x,
          /img/hero/hero-watch-desk-2x.webp 2x
        "
        media="(min-width: 1280px)"
        type="image/webp"
      />
      <source
        srcset="
          /img/hero/hero-watch-desk.jpg    1x,
          /img/hero/hero-watch-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          /img/hero/hero-watch-tab.webp    1x,
          /img/hero/hero-watch-tab-2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp"
      />
      <source
        srcset="
          /img/hero/hero-watch-tab.jpg    1x,
          /img/hero/hero-watch-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          /img/hero/hero-watch-mob.webp    1x,
          /img/hero/hero-watch-mob-2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp"
      />

      <source
        srcset="
          /img/hero/hero-watch-mob.jpg    1x,
          /img/hero/hero-watch-mob-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-img1"
        src="/img/hero/hero-watch-mob.jpg"
        alt="Watch"
        width="335"
        height="410"
      />
    </picture>
  </div>
</section>
