<!-- 1 -->
<div class="backdrop is-hidden modal" data-modal="1">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-1.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-1-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="modal-window-picture-text">€395</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>
<!-- 2 -->
<div class="backdrop is-hidden modal" data-modal="2">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-2.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-2-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Avondale Watch Police For Men
          </h3>
          <p class="modal-window-picture-text">€800</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 3 -->
<div class="backdrop is-hidden modal" data-modal="3">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-3.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-3-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </h3>
          <p class="modal-window-picture-text">€600</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 4 -->
<div class="backdrop is-hidden modal" data-modal="4">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-4.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-4-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Diver 300M Co-Axial Master Chronometer
          </h3>
          <p class="modal-window-picture-text">€1400</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 5 -->
<div class="backdrop is-hidden modal" data-modal="5">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-5.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-5-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Taman Watch By Police For Men
          </h3>
          <p class="modal-window-picture-text">€500</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 6 -->
<div class="backdrop is-hidden modal" data-modal="6">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-6.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-6-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">Malawi Watch Police For Men</h3>
          <p class="modal-window-picture-text">€555</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 7 -->
<div class="backdrop is-hidden modal" data-modal="7">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-7.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-7-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Diver 300M Co-Axial Master Chronometer
          </h3>
          <p class="modal-window-picture-text">€1200</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 8 -->
<div class="backdrop is-hidden modal" data-modal="8">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-8.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-8-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Greenlane Watch By Police For Men
          </h3>
          <p class="modal-window-picture-text">€1000</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 9 -->
<div class="backdrop is-hidden modal" data-modal="9">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-9.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-9-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">Squardrc 5402 Chrono</h3>
          <p class="modal-window-picture-text">€359</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 10 -->
<div class="backdrop is-hidden modal" data-modal="10">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-10.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-10-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </h3>
          <p class="modal-window-picture-text">€400</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 11 -->
<div class="backdrop is-hidden modal" data-modal="11">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-11.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-11-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">Citizen</h3>
          <p class="modal-window-picture-text">€519</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- 12 -->
<div class="backdrop is-hidden modal" data-modal="12">
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button js-modal-close"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/catalog-watch-12.jpg"
          alt="modal watch"
          srcset="./img/catalog-watch-12-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">Armani Exchange</h3>
          <p class="modal-window-picture-text">€400</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div>

<!-- for button -->
<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button
      type="button"
      class="modal-window-close-btn button"
      data-modal-close
    >
      <svg class="modai-close-icon" width="12" height="12">
        <use href="./img/icon.svg#icon-criss-cross"></use>
      </svg>
    </button>
    <div class="modal-window-wrap">
      <div class="modal-window-picture">
        <img
          src="./img/modal-picture-mob-1x.jpg"
          alt="modal watch"
          srcset="./img/modal-picture-mob-2x.jpg 2x"
          width="276"
          height="274"
        />
        <div class="modal-window-picture-sign">
          <h3 class="modal-window-picture-name">
            Tube Watch S42 Date Steel With Black...
          </h3>
          <p class="modal-window-picture-text">€395</p>
        </div>
      </div>
      <form class="contacts-form">
        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Full name</span>
          <span class="contacts-form-input-wrp">
            <input
              type="text"
              class="contacts-form-input"
              placeholder="Enter your full name"
              name="Name"
              required
              pattern="^[a-zA-Zа-яА-ЯїЇіІ]+$"
              minlength="2"
            />
          </span>
        </label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Email</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter your email"
              name="Email"
              required
              pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
              title="nick@mail.com" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Card number</span>
          <span class="contacts-form-input-wrp">
            <input
              type="tel"
              class="contacts-form-input"
              placeholder="Enter card"
              name="Card number"
              required
              pattern="^[0-9-]+$" /></span
        ></label>

        <label class="contacts-form-field"
          ><span class="contacts-form-input-name">Comments</span
          ><textarea
            class="contacts-form-coments"
            placeholder="Enter your text"
            name="Message"
          ></textarea>
        </label>

        <button class="contacts-form-btn button" type="submit">submit</button>
        <p class="contacts-form-btn-text">
          By clicking on “Submit” button, you agree to our Privacy Policy, and
          allow Promodo to use this information for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</div> -->
