<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-wrapper">
      <div class="sale-img-container">
        <ul class="sale-list">
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale-desk-watch-1.jpg    1x,
                  ./img/sale-desk-watch-1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale-desk-watch-1.jpg    1x,
                  ./img/sale-desk-watch-1-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-watch-1.jpg 1x, ./img/sale-watch-1-2x.jpg 2x"
                media="(min-width: 375px)"
              />
              <img
                src="./img/sale-watch-1.jpg"
                alt="Watch-1"
                width="80"
                height="80"
                class="sale-img"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale-desk-watch-2.jpg    1x,
                  ./img/sale-desk-watch-2-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale-desk-watch-2.jpg    1x,
                  ./img/sale-desk-watch-2-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-watch-2.jpg 1x, ./img/sale-watch-2-2x.jpg 2x"
                media="(min-width: 375px)"
              />
              <img
                src="./img/sale-watch-2.jpg"
                alt="Watch-2"
                width="80"
                height="80"
                class="sale-img"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale-desk-watch-3.jpg    1x,
                  ./img/sale-desk-watch-3-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale-desk-watch-3.jpg    1x,
                  ./img/sale-desk-watch-3-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-watch-3.jpg 1x, ./img/sale-watch-3-2x.jpg 2x"
                media="(min-width: 375px)"
              />
              <img
                src="./img/sale-watch-3.jpg"
                alt="Watch-3"
                width="80"
                height="80"
                class="sale-img"
              />
            </picture>
          </li>
          <li class="sale-item">
            <picture>
              <source
                srcset="
                  ./img/sale-desk-watch-4.jpg    1x,
                  ./img/sale-desk-watch-4-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale-desk-watch-4.jpg    1x,
                  ./img/sale-desk-watch-4-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-watch-4.jpg 1x, ./img/sale-watch-4-2x.jpg 2x"
                media="(min-width: 375px)"
              />
              <img
                src="./img/sale-watch-4.jpg"
                alt="Watch-4"
                width="80"
                height="80"
                class="sale-img"
              />
            </picture>
          </li>
        </ul>
        <div>
          <picture>
            <source
              srcset="
                ./img/sale-desk-big-watch.jpg    1x,
                ./img/sale-desk-big-watch-2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/sale-desk-big-watch.jpg    1x,
                ./img/sale-desk-big-watch-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/sale-watch-big.jpg    1x,
                ./img/sale-watch-big-2x.jpg 2x
              "
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-watch-big.jpg"
              alt="Watch-big"
              width="235"
              height="350"
              class="sale-img-big"
            />
          </picture>
        </div>
      </div>
      <div class="sale-wrap">
        <h2 class="sale-title-secondary">
          Greenlane Watch By Police For MenHT
        </h2>
        <p class="sale-text">Product tag: PEWJK2227003</p>
        <ul class="sale-price">
          <li><span class="sale-now">€700</span></li>
          <li><span class="sale-was">€1000</span></li>
        </ul>
        <h3 class="sale-title-information accordion">Description</h3>
        <ul class="sale-list-informations panel">
          <li>
            <p class="sale-text-information sale-text sale-text-margin">
              Richly detailed with an understated design - the Police Men’s
              Greenlane watch features a versatile multifunction design that
              fits effortlessly into work and play. The steel case is adorned
              with a semi-transparent black dial. The timepiece exhibits a
              contrast through a black IP bracelet with matching crown and
              pushers.
            </p>
          </li>
        </ul>
        <h3 class="sale-title-information accordion">DETAILS & FEATUREStion</h3>
        <ul class="sale-list-info panel">
          <li class="sale-text-information sale-text">Gender: man</li>
          <li class="sale-text-information sale-text">Size: 46x54.5mm</li>
          <li class="sale-text-information sale-text">Case Colour: Steel</li>
          <li class="sale-text-information sale-text">Case Colour: Steel</li>
          <li class="sale-text-information sale-text">Case Material: Metal</li>
          <li class="sale-text-information sale-text">
            Features: Multifunction
          </li>
          <li class="sale-text-information sale-text">
            Water Resistant: 5 (ATM)
          </li>
          <li class="sale-text-information sale-text">Band Colour: Steel</li>
        </ul>
      </div>
    </div>
  </div>
</section>
