.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: var(--color-dark-green);
}

.footer-thumb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 80px;
}

.footer-logotype-link {
  display: flex;
  margin-bottom: 40px;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-address-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--color-white);
}

.footer-address-phone:hover,
.footer-address-phone:focus {
  text-decoration: underline;
}

.footer-address-address {
  display: block;
  width: 141px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.footer-address-address:hover,
.footer-address-address:focus {
  text-decoration: underline;
}

.footer-address-zip-code {
  display: block;
}

.navigation-item:not(:last-child) {
  margin-bottom: 14px;
}

.navigation-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.navigation-link:hover,
.navigation-link:focus {
  text-decoration: underline;
}

.footer-social-list {
  display: flex;
  gap: 0 14px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: var(--color-white);
  transition: color var(--transform-hover-focus),
    background-color var(--transform-hover-focus);
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: var(--color-dark-green);
  background-color: var(--color-white);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-copy-rights {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #c6cdd1;
  opacity: 0.9;
}

.footer-priv-policy {
  margin-right: 14px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #c6cdd1;
}

.footer-terms-serv {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #c6cdd1;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
  }

  .footer-thumb {
    flex-wrap: nowrap;
    gap: 0;
    margin-bottom: 152px;
  }

  .footer-logotype-icon {
    width: 50px;
    height: 50px;
  }

  .footer-address-phone {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-address-address {
    width: 181px;
    font-size: 18px;
    line-height: 1.33;
  }

  .navigation-item:not(:last-child) {
    margin-bottom: 18px;
  }

  .navigation-link {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-social-list {
    gap: 0 16px;
  }

  .footer-social-link {
    width: 44px;
    height: 44px;
  }

  .footer-social-icon {
    width: 28px;
    height: 28px;
  }

  .footer-copyright-thumb {
    display: flex;
    justify-content: space-between;
  }

  .footer-copy-rights {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-priv-policy {
    margin-right: 18px;
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-terms-serv {
    font-size: 14px;
    line-height: 1.29;
  }
}
