.hero {
    background-color: var(--color-black);
}

.container {}

.hero-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: var(--color-white);
    margin-bottom: 60px;
    margin-left: 0;    
    width: 335px;
}

.hero-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--color-white);
    margin: 0 0 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 248px;    
}

.swiper {
    width: 266px;
    height: 200px;
    margin-left: 0;
}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.swiper-button-prev {}

.swiper-button-next {}

.swiper-scrollbar {}

 .hero-img .hero-img1 {
    width: 100%;
} 

/*-------CONTAINER < 375px-----------------*/
@media screen and (max-width: 374px) {
    .hero-title {
        font-size: 8vw;
        width: 100%;
    }

}

/*-------CONTAINER 768px-----------------*/
@media screen and (min-width: 768px) {

.hero-title {
    width: 653px;
    font-size: 60px;
    line-height: 1.03;    
    }

.hero-description {
    display: inline-block; 
    margin-top: 0;
    margin-left: 20px; 
    margin-bottom: 0;
    }

.swiper {    
    display: inline-block;
    width: 436px;
    height: 255px;    
    }

.hero-img {
    margin-top: 40px; 
    width: 100%;
    }

 .hero-img1 {    
    width: 100%;  
    } 

.hero-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
}
}

/*-------CONTAINER 1280px-----------------*/
@media screen and (min-width: 1280px) {

    .hero-wrap {
        justify-content: space-between;
        align-items: stretch;         
        flex-wrap: wrap;
}

    .hero-title {
        width: 750px;
        order: 1;
    }

    .hero-description {
        width: 282px;
        order: 2;
    }

    .swiper {
        order: 3; 
        margin-top: 140px;             
    }

    .hero-img {
        width: 676px;
        margin: 0 0 0 auto;
        order: 4;     
    }


}