.hero {
    background-color: var(--color-black);
}

.section-hero {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 40px;
}

.hero-title {
    font-weight: 600;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: var(--color-white);
    margin-bottom: 60px;
    margin-left: 0;    
    width: 335px;
}

.hero-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--color-white);
    margin: 0 0 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
    width: 248px;    
}

.swiper {
    width: 266px;
    height: 200px;
    margin-left: 0;
}

 .hero-img .hero-img1 {
    width: 100%;
} 

    .swiper-button-icon{
        stroke: rgba(255, 255, 255, 0.5);        
        border: 0px solid rgba(255, 255, 255, 0.5);         
        width: 18px;
        height: 18px;
        margin: 7px;        
        }

   
    .swiper-buttons{        
        display: flex;
        gap: 12px;  
        margin-top: 20px;
        align-items: flex-end; 
        transition: border var(--transform-hover-focus);
    }

    .carousel-number-of-watches{
        display: flex;        
        color: var(--color-white);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;                
        position: relative;
        left: 27%;
    }

    .swiper1-button-prev {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    .swiper1-button-next {
        width: 32px;
        height: 32px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        cursor: pointer;
    }

    .swiper1-button-prev:hover,
    .swiper1-button-prev:focus  {
        border: 1px solid var(--color-white);        
    }

    .swiper1-button-prev:hover>.swiper-button-icon, 
    .swiper1-button-prev:focus>.swiper-button-icon
      {
        stroke: var(--color-white);        
    }

    .swiper1-button-next:hover,
    .swiper1-button-next:focus {
        border: 1px solid var(--color-white);
    }
    
    .swiper1-button-next:hover>.swiper-button-icon,
    .swiper1-button-next:focus>.swiper-button-icon  
    {
        stroke: var(--color-white);        
    }

    .dash {
        margin-left: 6px;
        margin-right: 46px;
    }


    .dash::after{
        content: '';
        border-bottom: 1px solid #FFFFFF;
        display: block;
        width: 40px;
        position: absolute;
        top: 50%;
    }

/*-------CONTAINER < 375px-----------------*/
@media screen and (max-width: 374px) {
    .hero-title {
        font-size: 8vw;
        width: 100%;
    }

}

/*-------CONTAINER 768px-----------------*/
@media screen and (min-width: 768px) {

.section-hero {
        padding: 0;
        padding-top: 148px;
        padding-bottom: 80px;
    }

.hero-title {
    width: 653px;
    font-size: 60px;
    line-height: 1.03;    
    }

.hero-description {
    display: inline-block; 
    margin-top: 0;
    margin-left: 20px;     
    }

.swiper {    
    display: inline-block;
    width: 436px;
    height: 255px;    
    }

.hero-img {
    margin-top: 40px; 
    width: 100%;
    }

 .hero-img1 {    
    width: 100%;  
    } 

.hero-wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
}

.carousel-number-of-watches {
    left: 57%;
}

.swiper-button-icon {
    width: 24px;
    height: 24px;
    margin: 8px;
}

.swiper1-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.swiper1-button-next {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

}

/*-------CONTAINER 1280px-----------------*/
@media screen and (min-width: 1280px) {

    .hero-wrap {
        justify-content: space-between;
        align-items: stretch;         
        flex-wrap: wrap;
}

    .hero-title {
        width: 750px;
        order: 1;
    }

    .hero-description {
        width: 282px;
        order: 2;
    }

    .swiper {         
        margin-top: 95px;             
    }

    .hero-img {
        width: 676px;
        margin: 0 0 0 auto;
        order: 4;     
    }

    .swiper-wrap{
        order: 3;        
    }    
}