.backdrop {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

.modal-window {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 223px rgba(0, 0, 0, 0.05), 0px 0px 130.6px rgba(0, 0, 0, 0.037963), 0px 0px 71.0296px rgba(0, 0, 0, 0.0303704), 0px 0px 36.2375px rgba(0, 0, 0, 0.025), 0px 0px 18.1704px rgba(0, 0, 0, 0.0196296), 0px 0px 8.77546px rgba(0, 0, 0, 0.012037);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 20px 36px;
}



.modal-window-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color:transparent;
    border: none;
    outline: none;
}
.modai-close-icon {
    fill: #141414;
}
.modal-window-picture {

    max-width: 276px;
}
.modal-window-picture-sign {
    width: 276px;
    margin-top: 14px;
   
}
.modal-window-picture-name {
    white-space: nowrap;
    font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #141414;
}
.modal-window-picture-text {
    margin-top: 4px;
    font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: -0.02em;
color: rgba(20, 20, 20, 0.5);
}
.contacts-form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  
}
.contacts-form-field {
    margin-bottom: 18px;
}
.contacts-form-input-name {
    display: block;
    font-weight: 400;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: #141414;
margin-bottom: 12px;

}

.contacts-form-input {
width: 100%;
height: 42px;
padding: 12px 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.12px;
letter-spacing: -0.02em;
color: #141414;
border: 2px solid rgba(20, 20, 20, 0.5);
border-radius: 8px;
}



.contacts-form-input:not(:focus):not(:placeholder-shown):invalid {
    border-color: #DE1F2A;
}
.contacts-form-coments {

width: 100%;
height: 170px;
font-weight: 400;
font-size: 16px;
line-height: 1.12px;
letter-spacing: -0.02em;
color: #141414;
border: 2px solid rgba(20, 20, 20, 0.5);
border-radius: 8px;
padding: 12px 16px;
resize: none;

}
.contacts-form-btn {

    width: 100%;
    height: 50px;
    background-color: #1E2827;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    display: block;
    margin-top: 2px;
    margin-bottom: 12px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-btn-text {

    font-weight: 400;
font-size: 12px;
line-height: 1.17;

letter-spacing: -0.02em;

color: rgba(20, 20, 20, 0.4);
}

/*-------CONTAINER < 1280px-----------------*/
@media screen and (max-width: 1279px){
    .modal-window {
        overflow-y: auto;
        max-height: 576px;
        height: 90%;}

        .modal-window-close-btn {
            
            top: 20px;
            right: 20px;
            
        }
}




/*-------CONTAINER  375px-----------------*/
@media screen and (min-width: 375px){

    .modal-window {
        width: 335px;
    }

}


/*-------CONTAINER 768px-----------------*/
@media screen and (min-width: 768px){
    .modal-window {
        width: 744px;
        height: 670px;
        padding: 40px;
    }
    .modal-window-wrap{
        display: flex;
        justify-content: space-between;
    }

    .contacts-form {
        margin-top: 0;
        width: 368px;
        
      
    }
    .contacts-form-coments {
        
        height: 166px;
    }
}

/*-------CONTAINER 1280px-----------------*/
@media screen and (min-width: 1280px){
    .modal-window {
        width: 904px;
        height: 694px;
        
    }

    .contacts-form {
        
        width: 508px;
        
      
    }

    .contacts-form-field {
        margin-bottom: 24px;
    }

    .contacts-form-btn {
        margin-top: 16px;
    }
}