.sale {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: var(--color-white);
}

.sale-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  padding-top: 40px;
}
.sale-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.sale-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 20px;
}

.sale-title-secondary {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;

  letter-spacing: -0.02em;
}
.sale-text {
  font-size: 14px;
  line-height: 1.3;  
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.sale-text-margin {
  margin-bottom: 40px;
}

.sale-price {
  display: flex;
  margin-top: 16px;
  margin-bottom: 40px;
}
.sale-now {
  margin-right: 8px;
  font-size: 18px;
  line-height: 1.33;

  letter-spacing: -0.02em;
}
.sale-was {
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: rgba(20, 20, 20, 0.5);
}
.sale-list-informations {
  max-width: 335px;
}
.sale-list-informations > li {
  margin-bottom: 40px;
}
.sale-list-informations > li:last-child {
  margin-bottom: 0;
}
.sale-title-information {
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  cursor: pointer;
}
.sale-title-information::before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  top: -8px; 
  border-top: 1px solid #141414;
}

.sale-title-information.accordion::after {
  content: '\FF0B';
  position: relative;
  float: right;
  left: 5px;     
}

.sale-title-information.accordion.active:after {
  content: '';
  position: relative;
  border-top: 1px solid #141414;
  width: 16px;
  float: right;
  top: 10px;
  left: 0px;
}

.sale-text-information {
  letter-spacing: -0.01em;
}

/* Accordin --------------------------- */
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* MObile --------------------------- */
@media screen and (max-width: 374px) {

      .sale-text-margin {
          margin-bottom: 40px;
        }

}
/* Tablet------------------- */
@media screen and (min-width: 768px) {
  .sale {
    padding-top: 64px;
    padding-bottom: 128px;
  }
  .sale-img {
    width: 146px;
  }
  .sale-img-big {
    width: 406px;
  }
  .sale-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 572px;
  }
  .sale-title-secondary {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.02em;
  }
  .sale-list-informations {
    max-width: 572px;
  }
}
/* desktop----------- */
@media screen and (min-width: 1280px) {
  .sale {
    padding-top: 80px; 
    padding-bottom: 160px;
  }
  .sale-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
  }
  .sale-wrap {
    max-width: 370px;
    margin-left: 40px;
    margin-right: 0;
  }
  .sale-img-container {
    margin-bottom: 0;
  }
  .sale-title {
    margin-bottom: 80px;
    padding-top: 10px;
  }
    .sale-text-margin {
      margin-bottom: 20px;
    }
}
